@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* | RESETS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.no-wrap {
	white-space: nowrap;
}

img {
	display: block;
}

/* | VARIALBLES */
:root {
	/* | COLORS  */
	--pale-violet: hsl(276, 100%, 81%);
	--moderate-violet: hsl(276, 55%, 52%);
	--desaturated-dark-violet: hsl(271, 15%, 43%);
	--grayish-blue: hsl(206, 6%, 79%);
	--grayish-blue-opqed: hsla(206, 7%, 79%, 0.6);
	--very-dark-desaturated-violet: hsl(271, 36%, 24%);
	--dark-grayish-violet: hsl(270, 7%, 64%);
	--light-magenta: hsl(293, 100%, 63%);
	--light-violet: hsl(264, 100%, 61%);
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 20%, 96%);
	--very-light-magenta: hsl(289, 100%, 72%);

	/* | FONTS  */
	--font: 'Rubik', sans-serif;
}

body {
	max-width: 1440px;
	height: 800px;
	background-color: var(--white);
	font-family: var(--font);
	font-weight: 500;
	position: relative;
	cursor: default;
}

.card {
	width: 100%;
	padding-left: 95px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-img {
	width: 500px;
	height: 1000px;
	border-radius: 300px;
	background: linear-gradient(var(--light-magenta), var(--light-violet));
	position: absolute;
	top: -300px;
	left: -92px;
	z-index: 0;
}

.bg-img-light {
	width: 325px;
	height: 680px;
	border-radius: 300px 0 0 0;
	background: var(--light-grayish-violet);
	position: absolute;
	top: 120px;
	right: 0;
	z-index: 0;
}

.all {
	width: 820px;
	height: 500px;
	margin: 150px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.phone {
	width: 247px;
	height: 500px;
	border-radius: 25px;
	border: 10px solid var(--white);
	position: relative;
	font-size: 8px;
	background-color: var(--light-grayish-violet);
	box-shadow: 10px 10px 50px 13px #ccc;
	z-index: -2;
}

.phone-head {
	width: calc(247px - 20px);
	height: 66px;
	background-image: linear-gradient(
		to left,
		var(--light-magenta),
		var(--light-violet)
	);
	border-radius: 16px 16px 5px 5px;
}

.speaker {
	width: 132px;
	height: 18px;
	border-radius: 0 0 15px 15px;
	background-color: var(--white);
	margin-inline: auto;
}

.title {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-space {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	color: var(--light-grayish-violet);
}

.arrow {
	width: 15px;
	height: 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

.arrow > * {
	position: absolute;
	width: 6px;
	height: 2px;
	background-color: var(--white);
	border-radius: 12px;
}

.backward-back {
	top: 7px;
	transform: rotateZ(-60deg);
}

.forward-back {
	bottom: 7px;
	transform: rotateZ(60deg);
}

.walker-img-container {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid var(--pale-violet);
	margin-inline: 0 8px;
}

.walker-img {
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.walker-decription {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h3 {
	font-weight: 700;
}

.walker-decription p,
.textarea p {
	font-weight: 400;
}

.walker-decription .walker-name {
	font-size: 12px;
}

.three-dots {
	width: 10px;
	height: 10px;
	gap: 2px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.dots {
	width: 2px;
	height: 2px;
	background-color: var(--white);
}

.chat-screen {
	width: 100%;
	height: auto;
	padding: 8px;
	position: relative;
	z-index: -1;
	animation: showChat 0.5s ease-in-out 1s forwards;
}

@keyframes showChat {
	0% {
		top: -200px;
		display: none;
		transform: scaleY(0);
	}

	80% {
		top: 30px;
		transform: scaleY(1);
	}

	100% {
		top: 0px;
	}
}

.chat-screen > * {
	margin-bottom: 8px;
}

.sam-chat {
	width: 130px;
	padding: 7px;
	background-color: var(--grayish-blue-opqed);
	color: var(--moderate-violet);
	border-radius: 12px 12px 12px 5px;
}

.dog {
	width: 100%;
	height: 128px;
	padding: 8px 0;
	position: relative;
}

.dog-chat {
	max-width: 130px;
	padding: 7px;
	background-color: var(--white);
	color: var(--desaturated-dark-violet);
	border-radius: 12px 12px 5px 12px;
	position: absolute;
	right: 0;
}

.dog-img {
	width: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
}

.dog-img img {
	width: 40px;
	height: auto;
	border-radius: 5px;
}

.dog-img img:nth-child(2) {
	margin-inline: 8px;
}

.chat4 {
	position: absolute;
	bottom: 38px;
}

.chat5 {
	position: absolute;
	bottom: 8px;
}

.radio-chat {
	width: 160px;
	display: flex;
	padding: 2px 9px 2px 2px;
	background-image: linear-gradient(
		to left,
		var(--light-magenta),
		var(--light-violet)
	);
	color: var(--light-grayish-violet);
	justify-content: space-between;
	align-items: center;
}

.radiochat {
	display: flex;
	padding: 9px;
	justify-content: flex-start;
	align-items: center;
}

.radio {
	width: 14px;
	height: 14px;
	margin-right: 8px;
	border-radius: 50%;
	border: 1px solid var(--very-light-magenta);
}

.radio + p {
	font-size: 10px;
}

.price {
	font-size: 14px;
	font-weight: 700;
	margin-right: 8px;
	color: var(--light-grayish-violet);
}

.textarea {
	width: 100%;
	height: 34px;
	margin-top: 16px;
	border-radius: 25px;
	padding: 15px 5px 15px 20px;
	background-color: var(--white);
	color: var(--grayish-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: auto;
}

.send {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-color: var(--very-dark-desaturated-violet);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* .forward,
.backward  */
.send > * {
	margin-left: 3px;
	position: absolute;
	width: 10px;
	height: 3px;
	background-color: var(--white);
	border-radius: 12px;
}

.backward {
	bottom: 10px;
	transform: rotateZ(-45deg);
}

.forward {
	top: 10px;
	transform: rotateZ(45deg);
}

.right-content {
	width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	z-index: 1;
}

.right-content h1 {
	margin: 30px 0;
	font-size: 36px;
	color: var(--very-dark-desaturated-violet);
}

.right-content p {
	font-size: 16px;
	font-weight: 500;
	color: var(--dark-grayish-violet);
	line-height: 1.5;
}

@media screen and (max-width: 800px) {
	body {
		max-width: 800px;
		height: 936px;
	}

	.card {
		padding: 0;
	}

	.all {
		width: 100%;
		height: 936px;
		margin: 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.bg-img-light {
		display: none;
	}

	.bg-img {
		top: -500px;
		left: -313px;
	}

	.right-content {
		width: 300px;
		align-items: center;
		text-align: center;
	}
}
